# VS Code workspace files
*.code-workspace

# Dependencies
node_modules/
package-lock.json

# Logs
*.log
logs/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db
Desktop.ini

# Backup files
*~
*.bak